body {
  font-family: sans-serif;
  background-image: url('academic3.jpg');
  margin: 0;
  padding: 0;
  color: #fff;
}

nav {
  background-color: #000000;
  color: #000000;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

nav a:hover {
  background-color: #ffffff;
  color: #000000; /* Set text color to black on hover */
}
header {
  background: url('h1.jpg') center center no-repeat; 
  background-size: cover;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 1.25em;
}
h1 {
  color: white;
  font-size: 2.5em;
  transition: color 0.3s ease-in-out;
}

h1:hover {
  color: #ff0000; /* Change color on hover, you can adjust this */
}



form {
  max-width: 450px;
  margin: 20px auto;
  background-color: #000000cd;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

h2 {
  text-align: center;
  color: #fafbff;
}

h3{
  text-align: left;
  color: #ffffff;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #0044ff;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #ff0000;
}
