/* General styling */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
marquee{
  background-color: #000000;
  color: #ffffff;
  font-size: 1.00em;
  padding: 14px;

}

header {
  background: url('h1.jpg') center center no-repeat; 
  background-size: cover;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 1.25em;
}

nav {
  background-color: rgba(10, 6, 35, 0.956); /* Change to a green color */
  color: #ffffff;
  padding: 10px;
  background-position: right top;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

nav a:hover {
  background-color: #ffffff;
  color: #000000;
}

#section1 {
  background: url('car11.jpg') center center no-repeat;
  background-size: cover;
}

#section2 {
  background: url('academics1.jpg') center center no-repeat;
  background-size: cover;
}

#section3 {
  background: url('hostels1.jpg') center center no-repeat;
  background-size: cover;
}

#section4 {
  background: url('foodie.jpg') center center no-repeat;
  background-size: cover;
}

#section5 {
  background: url('h1.jpg') center center no-repeat;
  background-size: cover;
  text-align: center;
}

#section5 .icon-class {
  /* Add your regular styling for the icons here */
  transition: transform 0.3s ease-in-out;
}

#section5 .icon-class:hover {
  transform: scale(1.2);
  cursor: pointer;
}

section {
  margin-bottom: 20px;
  color: #f0f0f0f0;
  font-size: 1.10em;
  padding: 20px; /* Adjust padding as needed */
  text-align: left; /* Adjust text alignment as needed */
}

section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #fff;
  transition: color 0.3s ease-in-out;
  position: relative;
}

section h2:hover {
  color: #ff0000;
}

section h2:hover::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  bottom: 0;
  left: 0;
}

section img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

section img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.login {
  float: right;
}

#contact {
  background-color: black; /* Change to a purple color */
  padding: 20px;
}

#contact h1 {
  text-align: center;
  margin-bottom: 10px;
}

#contact p {
  text-align: center;
  margin-bottom: 10px;
}

.social-icons {
  text-align: center;
  margin-top: 20px;
}

.social-icons a {
  padding: 10px;
  margin: 5px;
  color: #ffffff;
  border: 1px solid #ff0000;
  border-radius: 50%;
  text-decoration: none;
}

footer {
  background-color: #072e49; /* Change to a dark blue color */
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Optional styling for sections */
section {
  border: 1px solid #000000;
  padding: 20px;
  margin-top: 20px;
  text-decoration: none;
  color: #f0f0f0f0;
}

/* Styling for all images */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#FindMyCab img,
#Academics img,
#Accomodation img,
#Foodie img {
  width: 450px;
  height: 250px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #f0f0f0f0;
}

a:hover {
  color: #f0f0f0f0;
  font-weight: bold;
}

/* cards */
.card {
  scroll-margin-top: 7rem;
  border: 2px solid #ccc;
  border-radius: 10%;
  padding: 1rem;
  background-color: rgb(0, 0, 0); /* Change to an orange color */
  height: 400px;
  width: 400px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.card img {
  border: 2px unset #ccc;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  align-items: top;
  transition: 0.3s ease-in-out;
}

.card img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card figure {
  font-weight: 600;
  margin-top: 2rem;
}

.card p {
  padding: 0.5rem;
}

html {
  scroll-behavior: auto;
}

.Profile {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  margin: 3rem;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0 0 15px #5c4040;
}
